{% extends 'core/base.html' %}

{% block title %}Início{% endblock %}

{% block content %}
<div class="grid grid-cols-8 gap-6" style="padding: 2%;">
    <div class="col-span-3">
        <div id="mainSlider" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% for item in random_items %}
                    <button type="button" data-bs-target="#mainSlider" data-bs-slide-to="{{ forloop.counter0 }}" 
                    class="{% if forloop.first %}active{% endif %}" aria-current="{% if forloop.first %}true{% endif%}" aria-label="Slide {{ forloop.counter }}"></button>
                {% endfor %}
            </div>
            <div class="carousel-inner rounded-xl shadow-lg">
                {% for item in random_items %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        {% with item.images.all|first as first_image %}
                            <a href="{% url 'item:detail' item.id %}">
                                <img src="{{ first_image.image.url }}" class="d-block w-full object-cover" style="height:auto;" alt="{{ item.name }}">
                            </a>
                        {% endwith %}
                    </div>
                {% endfor %}
                <button class="carousel-control-prev" type="button" data-bs-target="#mainSlider" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#mainSlider" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Próximo</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-span-5 rounded-xl" style="padding: 2%;">
        <h1 class="mb-6 text-6xl text-center" style="padding-top: 5%;">Conheça o Museu</h1>
        <p class="mb-6 text-2xl text-center" style="padding-top: 2%;">O Museu de Computação da UTFPR-TD se consolida como um espaço de preservação e valorização da memória tecnológica, visando incentivar a interação de visitantes e entusiastas por meios físicos e digitais.</p>
    </div>
</div>
{% endblock %}